p {
  margin-bottom: 0;
}

.title {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e3e3e3;
}

.change-password-form {
  padding: 30px 20px;
  border: 1px dashed #d5d5d5;
  margin-bottom: 60px;
}
