<div class="change-password">
  <div class="title">
    <p><strong> Change password :</strong></p>
  </div>
  <div class="change-password-form">
    <form class="custom-form" [nzLayout]="'vertical'" nz-form [formGroup]="changePasswordForm"
      (ngSubmit)="changePassword()">

      <!-- Current Password -->
      <nz-form-item *ngIf="loginMethod === 'NORMAL'">
        <nz-form-label nzSpan="24" nzRequired nzFor="currentPassword">Current Password</nz-form-label>
        <nz-form-control nzSpan="24" nzErrorTip="The input is not valid CurrentPassword!">
          <input nz-input type="password" formControlName="currentPassword" />
        </nz-form-control>
      </nz-form-item>

      <!-- New Password -->
      <nz-form-item>
        <nz-form-label nzSpan="24" nzRequired nzFor="newPassword">New Password</nz-form-label>
        <nz-form-control nzSpan="24" [nzErrorTip]="' Please input your password!'">
          <input nz-input type="password" formControlName="newPassword" />
        </nz-form-control>
      </nz-form-item>

      <!-- Confirm Password -->
      <nz-form-item>
        <nz-form-label nzSpan="24" nzRequired nzFor="confirmPassword">Confirm Password</nz-form-label>
        <nz-form-control nzSpan="24" [nzErrorTip]="confirmError">
          <input nz-input type="password" formControlName="confirmPassword" />
          <ng-template #confirmError let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input your confirm!
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Two passwords is inconsistent!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>


      <!-- form error -->
      <div class="form-error" *ngIf="changePasswordForm.errors">
        <p>{{changePasswordForm.errors.error}}</p>
      </div>
      <!-- submit button -->

      <div class="flex jc-center">
        <button nzShape="round" [disabled]="changePasswordForm.invalid" [nzLoading]="isLoading" nz-button
          class="custom-btn" [nzType]="'primary'">SAVE CHANGE</button>
      </div>

    </form>
  </div>


</div>
