<div class="blog-page mt-70">
  <app-header-page [image]="'assets/images/blogs/blog-background.jpg'" [pageName]="'BLOG DETAIL'"></app-header-page>
  <div class="container">
    <app-loader [flexStart]="true" [id]="'blog-detail'"></app-loader>
    <div class="content" [nzGutter]="24" nz-row>
      <div *ngIf="blog" nz-col [nzLg]="18" [nzXs]="24">
        <div class="blog-detail">
          <div class="blog-image">
            <img [src]="blog.image" alt="" />
          </div>
          <div class="blog-info">
            <div class="blog-title text-hover">
              {{ blog.title }}
            </div>
            <div class="sub-info flex">
              <div class="blog-date">
                <i nz-icon nzType="calendar" nzTheme="outline"></i> {{ blog.createdAt | date: "medium" }}
              </div>
              <div class="num-comment">
                <i nz-icon nzType="comment" nzTheme="outline"></i> {{ comments.length
                }} Comments
              </div>
            </div>
          </div>
          <div class="blog-content">
            <quill-view-html [content]="blog.content" theme=" snow ">
            </quill-view-html>
          </div>
          <div class="blog-tag"></div>
        </div>
        <div class="blog-comment">
          <app-comments [comments]="comments"></app-comments>
        </div>
      </div>

      <div nz-col [nzLg]="6" [nzSm]="18" [nzXs]="24">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</div>