<div class="table-operations">
  <app-payment-method-modal [paymentMethod]="selectedData" [modalTitle]="modalTitle" [isVisible]="isShowModal"
    [isEditMode]="isEditMode" (cancelEvent)="closeModal()" (insertSuccessEvent)="insertPaymentMethodSuccess($event)"
    (updateSuccessEvent)="updatePaymentMethodSuccess($event)">
  </app-payment-method-modal>
  <button (click)="showModal()" class="add-btn" nzType="primary" nz-button>
    Add<i nz-icon nzType="plus" nzTheme="outline"></i>
  </button>
</div>
<nz-table #sortTable nzBordered [nzFrontPagination]="false" [nzTotal]="total" [nzPageSize]="baseParam.pageSize"
  nzBordered [nzPageIndex]="baseParam.pageIndex" [nzLoading]="isLoading" (nzQueryParams)="onQueryParamsChange($event)"
  [nzData]="listData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzAlign="center" nzColumnKey="id" [nzSortFn]="true">Id</th>
      <th nzAlign="center" nzCustomFilter>Name
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th nzAlign="center">Description</th>
      <th nzAlign="center">Image</th>
      <th nzAlign="center">Active</th>
      <th nzAlign="center" nzWidth="20%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sortTable.data; let odd=odd; let even = even" [ngClass]="{ odd: odd, even: even }">
      <td nzAlign="center">{{ data.id }}</td>
      <td nzAlign="center">{{ data.name }}</td>
      <td nzAlign="center">{{ data.description }}</td>
      <td nzAlign="center"><img class="category-img" height="50" nz-image [nzSrc]="data.imageUrl" nz-image></td>
      <td nzAlign="center"><label [nzDisabled]="true" nz-checkbox [(ngModel)]="data.active"></label></td>
      <td nzAlign="center" class="btn-action">
        <button nz-button nzType="primary" nzPopconfirmOverlayClassName="delete-confirm-card" nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this category?" (nzOnConfirm)="deletePaymentMethod(data.id)"
          nzPopconfirmPlacement="left" nzDanger>Delete<i nz-icon nzType="delete" nzTheme="outline"></i></button>
        <button nz-button (click)="editPaymentMethod(data)" nzType="primary">Edit<i nz-icon nzType="edit"
            nzTheme="outline"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
    </div>
  </div>
</nz-dropdown-menu>