<div class="table-operations">
  <button (click)="addPromotion()" class="add-btn" nzType="primary" nz-button>
    Add<i nz-icon nzType="plus" nzTheme="outline"></i>
  </button>
</div>
<nz-table #sortTable [nzFrontPagination]="false" [nzTotal]="total" [nzPageSize]="baseParam.pageSize"
  [nzPageIndex]="baseParam.pageIndex" nzBordered [nzLoading]="isLoading" (nzQueryParams)="onQueryParamsChange($event)"
  [nzData]="listData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzAlign="center" nzWidth="8%" nzColumnKey="code" [nzSortFn]="true">Code</th>
      <th nzAlign="center" nzCustomFilter>Description
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th nzAlign="center">Start Date</th>
      <th nzAlign="center">End Date</th>
      <th nzAlign="center">Active</th>
      <th nzAlign="center" nzWidth="20%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sortTable.data; let odd=odd; let even = even" [ngClass]="{ odd: odd, even: even }">
      <td nzAlign="center">{{ data.code }}</td>
      <td nzAlign="center">{{ data.description }}</td>
      <td nzAlign="center">{{ data.startDate | date: 'yyyy-MM-dd'}}</td>
      <td nzAlign="center">{{ data.endDate | date: 'yyyy-MM-dd'}}</td>
      <td nzAlign="center"><label [nzDisabled]="true" nz-checkbox [(ngModel)]="data.active"></label></td>
      <td nzAlign="center" class="btn-action">
        <button nz-button nzType="primary" nzPopconfirmOverlayClassName="delete-confirm-card" nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this promotion?" (nzOnConfirm)="deletePromotion(data.code)"
          nzPopconfirmPlacement="left" nzDanger>Delete<i nz-icon nzType="delete" nzTheme="outline"></i></button>
        <button nz-button (click)="editPromotion(data.code)" nzType="primary">Edit<i nz-icon nzType="edit"
            nzTheme="outline"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
    </div>
  </div>
</nz-dropdown-menu>