.quantity nz-input-group {
  min-width: 120px;
  width: 120px;
  height: 40px;
  border: 1px solid #222;
  text-align: center;
  border-radius: 40px;
  margin-bottom: 15px;
}

.quantity input {
  text-align: center;
  font-weight: 600;
}

.quantity i {
  color: black;
  transition: 0.5s;
}
.quantity i.plus {
  padding: 8px;
  margin-right: -8px;
}

.quantity i.minus {
  padding: 8px;
  margin-left: -8px;
}

.quantity-warning {
  font-size: 12px;
  color: red;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
