<nz-drawer [nzWidth]="340" [nzClosable]="true" [nzVisible]="isOpenResetPasswordDrawer" nzPlacement="right"
  nzTitle="RESET PASSWORD" (nzOnClose)="closeMenu()" [nzWrapClassName]="''">
  <ng-container *nzDrawerContent>
    <div class="drawer-form">
      <form [nzLayout]="'vertical'" nz-form [formGroup]="firstForm">
        <!-- email -->
        <nz-form-item>
          <nz-form-label nzSpan="10" nzRequired nzFor="email">Email:</nz-form-label>
          <nz-form-control nzSpan="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input formControlName="email" />
          </nz-form-control>
        </nz-form-item>
        <!-- form error -->
        <div class="form-error" *ngIf="firstForm.errors">
          <p>{{firstForm.errors.error}}</p>
        </div>
        <!-- submit button -->
        <button nzShape="round" (click)="sendCode()" [nzLoading]="isLoading" nz-button class="drawer-form-button "
          [nzType]="'primary'">
          SEND CODE</button>
      </form>
      <div class="options">
        <p>Already have an account? <a (click)="openLoginDrawer()">Login here</a></p>
      </div>

    </div>
  </ng-container>
</nz-drawer>
