<div class="warranty_text">
  <h3>Warranty</h3>
  <p>If issues experienced with the frame include a manufacturer's defect, or an issue resulting from an inherent flaw
    in the product, RAEN provides a 365 day warranty from the time of purchase. If you feel your product meets these
    requirements, please email warranty&#64;domain.com explaining the nature of your warranty claim and all necessary
    details.</p>
  <h3>Free returns</h3>
  <p>Free returns are available on all U.S. order within 14 days of shipment.</p>

  <p style="font-style: italic;">*Free Shipping is not available with some promotions and other restrictions may
    apply.</p>
</div>
