<div class="account-page mt-70">
  <app-header-page [pageName]="'RESET PASSWORD'" [image]="'assets/images/blogs/background-2.jpg'"></app-header-page>
  <div class="container">
    <div class=" jc-center" nz-row>
      <div nz-col class="content" [nzSpan]="12">
        <div class="title">
          <p>Enter a new password for {{email}}</p>
        </div>
        <form [nzLayout]="'vertical'" nz-form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
          <!-- newPassword -->
          <nz-form-item>
            <nz-form-label nzSpan="24" nzRequired nzFor="newPassword">New Password:</nz-form-label>
            <nz-form-control nzSpan="24" nzErrorTip="The input is not valid New Password!">
              <input nz-input type="password" formControlName="newPassword" />
            </nz-form-control>
          </nz-form-item>

          <!-- confirmPassword -->
          <nz-form-item>
            <nz-form-label nzSpan="24" nzRequired nzFor="confirmPassword">Confirm Password:</nz-form-label>
            <nz-form-control nzSpan="24" [nzErrorTip]="confirmError">
              <input nz-input type="password" formControlName="confirmPassword" />
              <ng-template #confirmError let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input your confirm!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Two passwords is inconsistent!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <!-- form error -->
          <div class="form-error" *ngIf="resetForm.errors">
            <p>{{resetForm.errors.error}}</p>
          </div>
          <!-- submit button -->

          <div class="flex jc-center">
            <button nzShape="round" [disabled]="resetForm.invalid" [nzLoading]="isLoading" nz-button class="custom-btn"
              [nzType]="'primary'">RESET
              PASSWORD</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
