.navbar {
  border-bottom: 1px solid #dedede;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: "Raleway", sans-serif;
}

.navbar .container {
  max-width: 100%;
}

.navbar.show-fixed {
  position: fixed;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  animation-name: showNavbarFixed;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.header {
  min-height: 70px;
}

.header .push-menu i {
  font-size: 25px;
}

.header .logo,
.header .push-menu {
  height: 100%;
}

.header .logo img {
  outline: none;
  cursor: pointer;
}

.navigation-options ul li {
  padding: 0 25px;
  font-size: 15.5px;
}

.navigation-options ul li.active {
  color: #56cfe1;
}

.navigation-options ul li,
.icon-btns ul li {
  height: 70px;
  outline: none;
}

.icon-btns ul li {
  padding: 0 10px;
}

.icon-btns ul li i {
  font-size: 19px;
}

.user-option li {
  font-family: "Raleway", sans-serif;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .header .logo {
    justify-content: center;
  }

  .container {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .icon-btns ul li:nth-child(1),
  .icon-btns ul li:nth-child(3) {
    display: none;
  }
}

@media (max-width: 600px) {
  .header .push-menu i {
    font-size: 20px;
  }
}

@keyframes showNavbarFixed {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
