<nz-modal [(nzVisible)]="isVisible" nzOkText="OK" nzClassName="form-modal" [nzTitle]="modalTitle" [nzClosable]="false"
  [nzOkDisabled]="baseForm.invalid" [nzOkLoading]="isLoadingButton" (nzOnCancel)="cancelModal()"
  (nzOnOk)="submitForm()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="baseForm">
      <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="6" nzFor="brandName">Name</nz-form-label>
        <nz-form-control [nzSpan]="14" nzErrorTip="Please input your Brand name!">
          <nz-input-group class="input-group">
            <input nzSize="large" type="text" nz-input formControlName="brandName" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>