<div class="account-sidebar">
  <ul>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
      true}" [routerLink]="['/account']">Dashboard</li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
      true}" [routerLink]="['/account/change-password']">Change password</li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
        true}" [routerLink]="['/account/order-history']">Order History</li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
      true}" [routerLink]="['/product/wishlist']">Wishlist</li>
    <li (click)="logout()">Logout</li>
  </ul>
</div>