.service-section {
  padding: 50px 0 20px;
  border-top: 1px solid #ddd;
  font-family: "Raleway", sans-serif;
}

.section {
  padding: 0 15px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.shipping-icon {
  margin-right: 10px;
}

.shipping-icon i {
  font-size: 55px;
  margin-top: -8px;
  color: #878787;
}

.support-icon,
.return-icon,
.payment-icon {
  margin-right: 15px;
}

.support-icon i,
.return-icon i,
.payment-icon i {
  font-size: 40px;
  color: #878787;
}

.content .title {
  font-size: 14px;
  font-weight: bold;
}

.content .description {
  color: #878787;
}
