.btn-submit {
  float: right;
  margin: 20px;
  margin-right: 0;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

:host ::ng-deep .background-uploader > .ant-upload.ant-upload-select {
  width: 100%;
}

:host ::ng-deep .background-uploader .ant-upload .ant-btn {
  width: 100%;
}
