<div class="container">
  <form nz-form [formGroup]="userUpdateForm">
    <div class="seller-info section">
      <div class="content">
        <div class="column">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="username">Username</nz-form-label>
            <nz-form-control nzValidatingTip="Validating..." nzHasFeedback [nzSpan]="14" [nzErrorTip]="userErrorTpl">
              <input nz-input type="text" formControlName="username">
              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input your username!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The username is already in use!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="email">Email</nz-form-label>
            <nz-form-control nzErrorTip="Please input your email!" [nzSpan]="14">
              <input nz-input formControlName="email" id="email" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="phone">Phone</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input your phone!">
              <input nz-input type="text" formControlName="phone">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="fullName">FullName</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input your fullName!">
              <input nz-input type="text" formControlName="fullName">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="province">Province</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please select your province!">
              <nz-select (ngModelChange)="provinceChange($event)" formControlName="province" nzShowSearch
                nzPlaceHolder="Select a province">
                <nz-option *ngFor="let item of listProvince" [nzLabel]="item.ProvinceName" [nzValue]="item">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="district">District</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please select your district!">
              <nz-select (ngModelChange)="districtChange($event)" formControlName="district" nzShowSearch
                nzPlaceHolder="Select a district">
                <nz-option *ngFor="let item of listDistrict" [nzLabel]="item.DistrictName" [nzValue]="item">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>


        </div>
        <div class="column">
          <div class="content seller-image">
            <nz-upload [nzFileType]="contentTypeAccept" [nzBeforeUpload]="beforeUpload" [nzRemove]="remove"
              nzName="files" nzListType="picture-card" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1">
            </nz-upload>
          </div>

          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="6" nzFor="ward">Ward</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please select your ward!">
              <nz-select formControlName="ward" nzShowSearch nzPlaceHolder="Select a ward">
                <nz-option *ngFor="let item of listWard" [nzLabel]="item.WardName" [nzValue]="item">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired nzFor="street"> Street</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input your Apartment, Street!">
              <input nz-input type="text" formControlName="street">
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="gender">Gender</nz-form-label>
            <nz-form-control class="radio-btn" [nzSpan]="14" nzErrorTip="Please input your gender!">
              <nz-radio-group formControlName="gender">
                <label nz-radio [nzValue]="0">Male</label>
                <label nz-radio [nzValue]="1">Female</label>
                <label nz-radio [nzValue]="2">Others</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>
      <div class="btn-submit">
        <button nz-button [routerLink]="['/admin']" nzType="default">Cancel</button>
        <button nz-button [nzLoading]="isLoadingSubmit" [disabled]="userUpdateForm.invalid" (click)="submitForm()"
          nzType="primary">Save Information</button>
      </div>
    </div>

  </form>

  <nz-spin [ngClass]="{'isLoading':isLoadingUserDetail}" [nzSpinning]="isLoadingUserDetail" nzSimple></nz-spin>
</div>