.section {
  border-bottom: none;
}

.btn-submit {
  float: right;
  margin: 20px;
  margin-right: 80px;
}

.btn-submit button:first-child {
  margin-right: 5px;
}

.form-error p {
  font-size: 16px;
  color: red;
  margin-bottom: 20px;
  text-align: center;
}

.reveal-icon:hover {
  cursor: pointer;
}
