<div class="container">
  <form nz-form [formGroup]="changePasswordForm">
    <div class="section">
      <h4>Change password:</h4>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="currentPassword">Current Password</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your current password!">
          <nz-input-group [nzSuffix]="suffixIconRevealCurrent">
            <input nz-input [type]="revealCurrentPassword ? 'text' : 'password'" formControlName="currentPassword">
          </nz-input-group>
          <ng-template #suffixIconRevealCurrent>
            <i class="reveal-icon" (mouseup)="revealCurrentPassword = false" (mousedown)="revealCurrentPassword = true"
              nz-icon nzType="eye" nzTheme="outline"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="newPassword">New Password</nz-form-label>
        <nz-form-control [nzSpan]="8" [nzErrorTip]="validErrorTpl">
          <nz-input-group [nzSuffix]="suffixIconRevealNew">
            <input nz-input [type]="revealNewPassword ? 'text' : 'password'" formControlName="newPassword">
          </nz-input-group>
          <ng-template #suffixIconRevealNew>
            <i class="reveal-icon" (mouseup)="revealNewPassword = false" (mousedown)="revealNewPassword = true" nz-icon
              nzType="eye" nzTheme="outline"></i>
          </ng-template>
          <ng-template #validErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input your password!
            </ng-container>
            <ng-container *ngIf="control.hasError('invalidPassword')">
              Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
              letter and 1 number
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>



      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="confirmPassword">Confirm Password</nz-form-label>
        <nz-form-control [nzSpan]="8" [nzErrorTip]="passwordErrorTpl">
          <nz-input-group [nzSuffix]="suffixIconRevealConfirm">
            <input nz-input [type]="revealConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword">
          </nz-input-group>
          <ng-template #suffixIconRevealConfirm>
            <i class="reveal-icon" (mouseup)="revealConfirmPassword = false" (mousedown)="revealConfirmPassword = true"
              nz-icon nzType="eye" nzTheme="outline"></i>
          </ng-template>
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input your password!
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Two passwords is inconsistent!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div class="form-error" *ngIf="changePasswordForm.errors">
        <p>{{changePasswordForm.errors.error}}</p>
      </div>
      <div class="btn-submit">
        <button nz-button [routerLink]="['/admin']" nzType="default">Cancel</button>
        <button nz-button [nzLoading]="isLoadingSubmit" [disabled]="changePasswordForm.invalid" (click)="submitForm()"
          nzType="primary">Save Information</button>
      </div>
    </div>

  </form>
</div>