.contact-info {
  margin-bottom: 30px;
}
.tittle {
  margin-bottom: 24px;
}

.tittle h3 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
}

.tittle p {
  font-size: 13px;
  margin-bottom: 0;
}

.footer {
  margin: 20px 0 80px;
}

.next-step {
  background-color: #56cfe1;
  border-color: #56cfe1;
  height: 40px;
}

.next-step[disabled] {
  background: #f5f5f5;
  border-color: #d9d9d9;
  height: 40px;
}

.prev-step {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .tittle h3 {
    font-size: 17px;
  }
}

@media (max-width: 600px) {
  .tittle h3 {
    font-size: 16px;
  }
}
