.title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-color {
  margin: 3px 0;
}

.list-color .color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 3px;
}

.list-color .color.selected {
  border: 0.5px solid #b5b5b5;
}

.list-color .color:hover {
  cursor: pointer;
  border: 1px solid #222;
}

.list-color .color span {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.list-color.large .color {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  padding: 2px;
}